body {
    font-size: 16px;
    font-family: "Open Sans", serif;
    background: transparent;
    background-color: #6B747A !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#logo {
    padding-left: 10px;
    padding-top: 5px;
}

.headref {
    width: 35px;
    height: 35px;
    margin-top: 8px;
}

.userref {
    width: 55px;
    height: 55px;
}

.visref {
    width: 35px;
    height: 35px;
}

.cur {
    cursor: pointer;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.tit {
    background-color: #6B747A;
}

.txt {
    text-align: center;
    font-size: 14px;
    font-family: '΢���ź�';
    text-shadow: none;
    font-weight: bold;
}

.wh {
    height: 70%;
}

.mt {
    margin-top: 15px;
}

.chat {
    margin-top: 7px;
    margin-bottom: 7px;
}

.alertdiv {
    height: 500px;
    width: 600px;
}

.liicon {
    height: 20px;
    width: 22px;
}