body {
    font-size: 16px;
    font-family: "Open Sans", serif;
    background: transparent;
    /*background-color: #6B747A !important;*/
    background-image: url("../image/static/2.1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#logo {
    padding-left: 10px;
    padding-top: 5px;
}

.txt {
    text-align: center;
    font-size: 14px;
    font-family: '΢���ź�';
    text-shadow: none;
    font-weight: bold;
}

.wh {
    height: 70%;
}

.mt {
    margin-top: 10px;
}

.mb {
    margin-bottom: 10px;
}

.chat {
    margin-top: 7px;
    margin-bottom: 7px;
}

.scrollspy-pane {
    position: relative;
    height: 400px;
    margin-top: 10px;
    overflow: auto;
}

.scrollspy-chat-pane {
    position: relative;
    height: 386px;
    margin-top: 10px;
    overflow: auto;
}

.opacity {
    -moz-opacity: 0.1; /* FF 3.5以下 */
    opacity: 0.1; /* FF 3.5及以上 */
    filter: alpha(opacity=10); /* IE6及以上 */
    background: #fff;
}

.noopacity {
    background-color: transparent;
    color: #fff;
}s

.menu {
    width: 18px;
    height: 18px;
}
.mag-top {
    margin-top: 40px;
}